@media (prefers-color-scheme: dark) {
  body {
    background-color: #2c3e50 !important;
    color: #ecf0f1;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #f4f4f9;
    color: #333;
  }
}

ol {
  display: block;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.iframesection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

iframe {
  width: 650px;
  height: 100vh;
  border: none;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar li {
  float: left;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.dropdown-content {
  display: none; /* Hidden by default */

}

.show {
  display: block !important;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px;
  border: 1px solid #ccc;
}